.new-row-action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.page-wrp {
  display: flex;
  padding: 25px;
  box-sizing: border-box;
  flex-direction: column;
  gap: 15px;
}
.table-action-wrp {
  display: flex;
  gap: 25px;
  justify-content: flex-end;
}
